$color-default
  color: $color-text
$color-regular
  color: $color-text-title 
$color-info
  color: $color-text-info
$color-disable
  color: $color-text-disabled

$color-primary
  color: $color-primary 
$color-minor
  color: $color-minor

$color-000
  color: #000
$color-fff
  color: #fff