@import './icon'
@import './color'
@import './flex'
@import './grid'
@import './position'
@import './badge'
@import './animation'
@import './textellipsis'
@import './tips'
@import './tag'
@import './button'
@import './custom'
@import './input'
@import './tabs'
@import './triangle'
@import './tabbar'
//组件用到的方法
@import './modules/*'     
// //业务用到的方法
// @import './pages/*'
@import './pages/destnation'
@import './pages/login'
@import './pages/steps'

