ss-input-select($width = 50rpx)
  position: relative
  .select-title
    font-weight: normal
  .item-select
    position: absolute
    top: 0
    left: 0
    width: $width
    height: 100%
    opacity: 0
    z-index: 2