// -pos(type, args)
//   i = 0
//   position: unquote(type)
//   {args[i]}: args[i + 1] is a 'unit' ? args[i += 1] : 0
//   {args[i += 1]}: args[i + 1] is a 'unit' ? args[i += 1] : 0

// absolute()
//   -pos('absolute', arguments)

// fixed()
//   -pos('fixed', arguments)


// 调用方法
// absolute: top 150px left 5px
// fixed: top left


ss-position($type, $top = false, $left = false, $right = false, $bottom = false)
  position: $type
  if ($top != false)
    top: $top
  if ($left != false)
    left: $left
  if ($right != false)
    right: $right
  if ($bottom != false)
    bottom: $bottom