// //tabs 基础   isScroll 需要scroll的时候 flex失效
// ss-tabs($Menu-bg = #fff, $Menu-color = #333, $Menu-size = 28rpx, $Menu-hei = 100rpx, $Menu-active = #4b9afc, $isScrollRow = false)
//   if ($isScrollRow == false)
//     ss-display-flex(row wrap, flex-start)
//   else 
//     line-height: $Menu-hei 
//   background: $Menu-bg
//   color: $Menu-color
//   font-size: $Menu-size
//   height: $Menu-hei 
//   position: relative
//   z-index: 1
//   .item
//     text-align: center;
//     position: relative
//     &.active
//       color: $Menu-active
//       font-weight: bold
//     &.hasCheck
//       .item-title
//         position: relative
//         display: initial
//         &:after
//           content: ''
//           border-radius: 10rpx
//           width: 10rpx
//           height: @width 
//           background: #4b9afc
//           position: absolute
//           top: -4rpx
//           right: -8rpx

// //tabs 下线画
// brLineAniCfg =  {
//   $lineHei: 2px
//   $lineBot: 0
//   $lineColor: $color-hover
//   $lineWid: 100%
//   // $lineFixed: false
// }
// ss-border-ani($class = '.item', $config = false)
//   cfg = merge({}, brLineAniCfg, $config)
//   {$class}
//     position: relative
//     &:after
//       content: ''
//       position: absolute
//       background: $lineColor
//       border-radius: $lineHei / 2
//       bottom: $lineBot
//       height: $lineHei
//       transition: left .2s, right .2s
//       width: cfg.$lineWid
//       // if (!$lineFixed) 
//       left: -100%
//       right: @left
//       // else
//       //   left: -50%
//       //   right: @left
      
//     &.active
//       &:after
//         right: initial
//         // if (!$lineFixed) 
//         //   width: 100%
//         left: 0
//         // else 
//         //   left: "calc(50% - %s)" % (cfg.$lineWid / 2);
//     &.f-right
//       &:after
//         left: initial
//         // if (!$lineFixed) 
//         right: 0
//         // else 
//         //   right: "calc(50% - %s)" % (cfg.$lineWid / 2);