//待删 用/tips替换

// //有边线
// triangle-hollow($border-left = 1px solid transparent,$border-right = 1px solid #6b6b6b,$border-top = 1px solid #6b6b6b,$border-bottom = 1px solid transparent, $width = 5px, $height = 5px, $transform = rotate(-45deg))
//   border-left: $border-left
//   border-right: $border-right
//   border-top: $border-top
//   border-bottom: $border-bottom
//   height: $width
//   width: $height
//   transform: $transform


// .popup-wrap
//   background: #fff;
//   border: 1px solid $color-line-secondary
//   font-size: 14px
//   // width: 250px
//   width: 210px
//   position: absolute;
//   // top: 72px
//   // left: 0;
//   top: 68px;
//   left: -1px;
//   z-index: 9;
//   line-height: 14px;
//   box-shadow: $box-shadow-tips
//   padding: 4px 0 2px 0;
//   &.type-wrap
//     width: 140px
//     padding: 5px 10px
//   &:before
//     content: ''
//     position: absolute;
//     triangle-hollow(1px solid transparent,  1px solid #d2d2d2, 1px solid #d2d2d2, 1px solid transparent, 8px, 8px, $transform = rotate(-45deg))
//     top: -5px;
//     // left: 10px;
//     left: 26px;
//     z-index: 1;
//     background: #fff;
