
$hljs-bg   = #23241f
$hljs-title   = #fff
$hljs-attr    = #f92672
$hljs-string  = #e6db74
$hljs-literal = #ae81ff
$hljs-comment = #999
$hljs-attribute =#66d9ef
$hljs-section = #a6e22e
$hljs-emphasis = #a8a8a2