$hljs-bg   = #f8f8f8
$hljs-title   = #a626a4
$hljs-attr    = #986801
$hljs-string  = #50a14f
$hljs-literal =#0184bb
$hljs-comment = #a0a1a7
$hljs-attribute =#50a14f
$hljs-section = #e45649
$hljs-emphasis = #a8a8a2