{
  "presets": [
    "react",
    "env",
    "stage-0"
  ],
  "plugins": [
    [
      "add-module-exports",
      "transform-runtime",
      {
        "helpers": true,
        "polyfill": true,
        "regenerator": true
      }
    ]
  ]
}