 
/**
  基本参数
*/
//色值分类

//backgroundColor
$color-bg               = #F0F2F5
$color-bg-special       = #F5F6FA                           //特殊背景
$color-bg-primary       = #fff

//borderColor
$color-line             = #E5E6ED                           //下划线
$color-line-secondary   = $color-line                         //边框线
$color-line-input       = #CFD2D6                           //input边线

//textColor
$color-text             = #777D8D                           //默认色
$color-text-title       = #272E40                           //标题色
$color-text-info        = #98A0B4                           //说明信息
$color-text-disabled    = $color-line-input                   //禁止色
$color-text-placeholder = $color-line-input                  //input placeholder

//网站主色调
$color-primary          = #a814f1                           //品牌色

//辅助色，
$color-aux-primary      = #cb6df9                           // 用于辅助及搜索按钮 提示性文字链/按钮
$color-aux-success      = #68BF7B                           // 用于保存提交成功性提示
$color-aux-warning      = #FF7400                           // 用于副按钮，特殊按钮 提示性ICON/文字
$color-aux-fail         = #FC3230                           // 用于网站价格显示

                                

//鼠标经常效果
$color-hover            = $color-primary
