@font-face {
  font-family: 'iconfont';  /* project id 2218644 */
  src: url('//at.alicdn.com/t/font_2218644_d4uaf0wxlxl.eot');
  src: url('//at.alicdn.com/t/font_2218644_d4uaf0wxlxl.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2218644_d4uaf0wxlxl.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2218644_d4uaf0wxlxl.woff') format('woff'),
  url('//at.alicdn.com/t/font_2218644_d4uaf0wxlxl.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2218644_d4uaf0wxlxl.svg#iconfont') format('svg');
}