//input 
// 下拉
$inputSelect = '\e74e'
// 日期
$inputDate = '\e7bc'
//加减号
$inputAddIconL = '\e7ac'
$inputAddIcon = '\e611'
$inputMinusIcon = '\e602'
//radio checkbox
$radio = '\e7bf'
$radioChecked = '\e7c0'
$checkbox = '\e7bd'
$checkboxChecked = '\e7be'

//箭头左右
$arrow-left = '\e7a9'
$arrow-right = '\e7aa'

//加载
$icon-loading = '\e609'

//waning
$icon-warning = '\e7b9'
//fail
$icon-fail = '\e7b8'
//sucess
$icon-sucess = '\e7b7'
//info
$icon-info = '\e7b6'

//关闭 大
$icon-del = '\e607'
//关闭 小
$icon-del-s = '\e7ab'

//搜索 放大镜
$icon-search = '\e7b0'

//nav 三横杆
$icon-nav = '\e66b'


//另一种风格的复选框
$icon-tick = '\e7b1'

$icon-exlain = '\e7b6'