@font-face {
  font-family: 'iconfont';  /* project id 2218644 */
  src: url('//at.alicdn.com/t/font_2218644_9i34el5d7gu.eot');
  src: url('//at.alicdn.com/t/font_2218644_9i34el5d7gu.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2218644_9i34el5d7gu.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2218644_9i34el5d7gu.woff') format('woff'),
  url('//at.alicdn.com/t/font_2218644_9i34el5d7gu.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2218644_9i34el5d7gu.svg#iconfont') format('svg');
}