@font-face {
  font-family: 'iconfont';  /* project id 1946381 */
  src: url('//at.alicdn.com/t/font_1946381_8eaub8vo8k2.eot');
  src: url('//at.alicdn.com/t/font_1946381_8eaub8vo8k2.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1946381_8eaub8vo8k2.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1946381_8eaub8vo8k2.woff') format('woff'),
  url('//at.alicdn.com/t/font_1946381_8eaub8vo8k2.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1946381_8eaub8vo8k2.svg#iconfont') format('svg');
}