$bgColor = #fff
$inputTitleColor = $color-text             //标题色      selectIcon
$inputColor = $color-text-title         //#333 输入框字体色
$borderColor = $color-line-input          //#ccc 边框色        dateIcon 、disabled字体色
$inputHoverColor = $color-hover          //输入框鼠标经过边框变色
$placeholderColor = $color-text-placeholder    //输入框初始文字色        textarea字数（0/100)
$disabledColor = $color-line             //禁止边框色
$disabledColorBg = $color-bg              //禁止背景色
$requiredSpace = 2px                      //必填星号 与文字的间距  


$inputSize = $size                        //输入框字体大小

$inputBr = $br                            //圆角

$inputHeight = 34px                       //输入框高度
$inputTitleMargin = 20px                  //标题输入框的距离
$inputPadding = $padding-sm               //输入框padding
$inputMb = 20px                           // 表单之间的间距
$inputMb2 = 10px                           // 表单之间的间距

$inputWid = 180px
$inputWidMax = 100%
$inputWidMin = 60px

$inputTitleWid = 56px

//多行文本
$textareaWid = 100%
$textareaHei = 120px

// 下拉
$inputSelectItemHover = #ECF5FF
$inputSelectItemPadding = 5px 10px     //height=>32
$inputSelectHei = 132px


/**
  自定义radio checkbox
*/
$rcSize = 16px
$rcColor = $borderColor
$rcCheckedColor = #4b9afc
$rcMr = 40px
$rcInputMr = 10px