// @import './codetheme/black'      //代码块模板 在业务上引用
  
$md-color-text   = $color-text 
$md-color-title  = $color-text-title
$md-color-info   = $color-text-info
$md-color-desc   = $color-text-disabled

$md-color-link = $color-aux-primary
$md-color-link-active = $color-primary
$md-table-thead-color = #fff

$md-border-color = #e7e7e7



$md-br = 3px

$md-key-color  = $color-primary


$md-size-title-1 = 2em
$md-size-title-2 = 1.75em
$md-size-title-3 = 1.5em
$md-size-title-4 = 1.3em
$md-size-title-5 = 1.1em

$md-size = 15px