//标题
config-title = {
  color: $color-text-title
  font-size: $size-title
}
// modal
config-title-modal = {
  color: $color-text-title
  font-size: $size-info
}
//内容， modal
config-content = {
  color: $color-text
  font-size: $size
}
//详情
config-desc = {
  color: $color-text-info
  display: block
  font-size: $size
}
//适用于目的地，相关的ss-row-list()
rowListConfig-Mdd-title-kj2 =  {
  $width: false
}
rowListConfig-Mdd-kj3 =  {
  $width: calc(100% / 4)
}
//适用于目的地，相关的row-head-list（）
rhlConfig-Mdd = {       
  $fw: bold
  $mb: $space-minor
  $min-width: 40px
  $text-align: false
}

//块层
displayDivCfg = {
  $bg: #fff
  $padding: 20px
  $br: $br
  $bs: $box-shadow
  $border: none
}

//系统提示框
tipsSysCfg = {
  $padding: $tips-padding
  $size: $tips-size
  $icon-size: $tips-icon-size
  $mg: $tips-mg
  $fw: bold
  $transform: false
}


//鼠标经过
bgActive = {
 background: $color-bg 
 color: $color-primary
}