//下拉
.fkp-dd
  ss-form-select()

//目的地
.ss-dest-form
  display: block
  ss-form-destination()
  
.form-destination
  >.fkp-content
    ss-form-destination()
      
//日期选择
.form-datepicker
  position: relative
  ss-form-date()
  &.time
    &:after
      content: '\e7bb'


//搜索pop
ss-pop('.item-pop-list')