@import "./common"

body
  margin: 1em
  
.sampleList
  width: 20em
  .sampleItem
    transition: all .2s linear;
    &:hover
      // background-color: #f3fff3
      transform: translate3d(0, -2px, 0);
      box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    .htitle
      font-size: 20px
      font-weight: 600
    .descript
      margin-left: 0.4em
      margin-top: 0.6em
      font-size: 14px
      color: #aab2aa
    border: 1px solid #cccccc
    font-size: 14px
    margin-bottom: 0.6em
    padding: 0.3em
    text-indent: 0.5em
    min-height: 8em
    color: #000000
    border-radius: 4px