.edui-default
  .edui-editor
    margin: auto
    border-color: $color-line-secondary!important
    border-radius: 3px!important
    // width: 390px!important
  .edui-editor-toolbarbox
    box-shadow: none!important
  .edui-editor-toolbarboxouter
    background-color: $color-bg-special!important
    background-image: none!important
    box-shadow: none!important
  .edui-editor-iframeholder
    // width: 100%!important

// .view 不起作用
//   height: 100%!important