.searchbox-form
  @extends $flex-wrap
  padding-bottom: 10px
  margin-left: -20px
  margin-bottom: 0
  >.inputMultiply
    >.inputItem
      margin-bottom: 0
  >.inputItem, >.inputMultiply
    margin-left: 20px
    margin-bottom: 10px
  .fkp-title
    font-size: $size-sm 
    height: 32px
    line-height: @height
  .inputItem
    min-width: 180px
    &[class*='btn']
      min-width: auto