menusCardCfg = {
  $activeType: 'card'
  $itemPadding: 0 20px 
}
menusCardTagCfg = {
  $activeType: 'card-tag'
  $itemPadding: 0 20px 
  $br: false
  $itemMargin: -1px
}
menusLineCfg = {
  $itemPadding: falsse
  $itemMargin: 0 20px 
}
ss-tabs('.tabs-container.card', $menusConfig: menusCardCfg)
ss-tabs('.tabs-container.card-tag', $menusConfig: menusCardTagCfg)
ss-tabs('.tabs-container.line', $menusConfig: menusLineCfg)