// .border-radius-p100
//   border-radius: 100%

.border-default
  border: 1px solid $color-line
//   &.active
//     border-color: red

// .border-primary
//   border: 1rpx solid $color-border-2


// .bt-default
//   border-top: 1rpx solid $color-border
.bb-default
  border-bottom: 1px solid $color-line
// .bl-default
//   border-left: 1rpx solid $color-border
