
cardCfg = {
  $bg: $color-bg-special
  $padding: 20px
  $br: false
  $bs: false
  $border: false
}
ss-func-display-div('.card-bg', cardCfg)
//   card-bg-func()

// .card-bg-my
//   card-bg-my-func(true)
    

// .display-bg
//   background: #ffffff
//   border-radius: $br
//   box-shadow: $box-shadow;
//   position: relative
//   word-break: break-all;

// .display-bg-list
//   @extends .display-bg
//   border-radius: $br-lg

// .display-bg-list-default
//   @extends .display-bg
//   padding: $space

// .display-nobg
//   border-radius: $br-sm
//   box-sizing: border-box;
//   padding: $space

// .display-bgx-minor
//   border-radius: $br
//   background: #FFFBEF
//   color: #FA8D14
//   padding: $padding-minor

// //toast，黑色背景，透明底
// .toast-input
//   background: fade-out(#000, .1)
//   border-radius: 8rpx
//   color: #fff
//   padding: 25rpx 42rpx
//   opacity: .8
//   min-width: 114rpx
//   line-height: 40rpx
//   max-width: 74%