.color-primary
  color: $color-primary
.color-aux-primary
  color: $color-aux-primary 
.color-aux-success
  color: $color-aux-success 
.color-aux-warning
  color: $color-aux-warning 
.color-aux-fail
  color: $color-aux-fail 

.color-text
  color: $color-text
.color-title
  color: $color-text-title 
.color-info
  color: $color-text-info

.bg-color
  color: $color-bg
.bg-color-special
  color: $color-bg-special 



.color-000
  color: #000
.color-fff
  color: #fff
.color-98A0B3
  color: #98A0B3

