vendors = official
@import '../commonfunc'
// @import './icon'

// @import './slider'
@import './border'
@import './background'
@import './color'
@import './margin'
@import './size'
// @import './width'
// @import './radius'
@import './position'
@import './padding'
@import './height'
@import './flex'
// @import './title'
// @import './pic'
// @import './tag'
@import './button'

@import './custom'

@import './textellipsis'
// @import './tips'
// @import './keyframes'
// @import './item'
// @import './list'

// //侧弹
// @import './actionside'

// // input
// @import './input'   

// // tree组件
// @import './tree'   

// // tabs组件
// @import './tabs'
