.modal-form
  color: $color-text
  >.inputMultiply
    >.fkp-caption
      min-width: 100px
      justify-content: flex-end
      font-weight: bold
    .fkp-contaniner
      .fkp-title, .fkp-head
        min-width: auto
        margin-right: 10px
      .fkp-desc
        margin-left: 10px
  >.inputItem, >.radioGroup, >.checkboxGroup
    >.fkp-head
      min-width: 100px
      justify-content: flex-end
      font-weight: bold
  .form_control
    width: 120px

.form-editor-span
  >.fkp-content
		.form-span
			display: block
			position relative
			z-index: ($zidx-ft - 1)