.mlr-default
  margin: 0 $space-minor 
.mlr-small
  margin: 0 $space-small
  
.mt-default
  margin-top: $space-minor 
.ml-default
  margin-left: $space-minor 
.ml-small
  margin-left: $space-small 
  
.m-default
  margin: $space-minor 

.m-auto
  margin: 0 auto

.mb-default
  margin-bottom: $space-minor
.mt-default
  margin-top: $space-minor

.mr-auto
  margin-right: auto

.ml-auto
  margin-left: auto