
image
  display: block
  
.list-img
  {pic-default-s}
.list-img-lg
  {pic-lg-s}
.list-img-sm
  {pic-sm-s}

.pic-30-r
  width: 30rpx
  height: @width
  image
    width: 100%
    height @width
.pic-80-r
  width: 80rpx
  height: @width
  image
    width: 100%
    height @width
.pic-100-r
  width: 100rpx
  height: @width
  image
    width: 100%
    height @width
.pic-140-r
  width: 140rpx
  height: @width
  image
    width: 100%
    height @width
// .pic-120-r
//   width: 120rpx
//   height: @width
// .pic-150-r
//   width: 150rpx
//   height: @width
// .pic-382-r
//   width: 382rpx
//   height: @width
//   image
//     width: 100%
//     height: 100%