/*
  字体大小
*/


.size
  font-size: $size
.size-sm
  font-size: $size-sm
.size-info
  font-size: $size-info

.size-title-sm
  font-size: $size-title-sm
.size-title
  font-size: $size-title
.size-title-lg
  font-size: $size-title-lg


// .size9
//   font-size: 18rpx
// .size10
//   font-size: 20rpx
// .size11
//   font-size: 22rpx
// .size12
//   font-size: 24rpx
// .size13
//   font-size: 26rpx
// .size14
//   font-size: 28rpx
// .size15
//   font-size: 30rpx
// .size16
//   font-size: 32rpx
// .size17
//   font-size: 34rpx
// .size18
//   font-size: 36rpx
// .size20
//   font-size: 40rpx
// .size22
//   font-size: 44rpx
// .size28
//   font-size: 56rpx
// .size30
//   font-size: 60rpx
// .size36
//   font-size: 72rpx
// .size63
//   font-size: 126rpx
// .size80
//   font-size: 160rpx


// /*
//   img 大小 
// */

// .logo-size
//   width: 110rpx
//   height: @width


// // modal层字体大小
// .m-title-fs
//   font-size: $modal-title-size
// .m-desc-fs
//   font-size: $modal-desc-size
