.textellipsis-1
  ss-textellipsis(1, 16px)
  line-height: 16px
.textellipsis-auto-1
  ss-textellipsis(1)
.textellipsis-2
  ss-textellipsis(2, 30px)
.textellipsis-auto-2
  ss-textellipsis(2)
.textellipsis-auto-3
  ss-textellipsis(3)
.textellipsis-auto-4
  ss-textellipsis(4)
