
.fs-normal
  font-style: normal
.fw-bold
  font-weight: bold

.textellipsis-1
  ss-textellipsis(1)
.textellipsis-2
  ss-textellipsis(2)
.textellipsis-3
  ss-textellipsis(3)

.pages-title-lg
  font-weight: bold
  font-size: $size-title
  color: $color-text-title 
.pages-title
  font-weight: bold
  font-size: $size-title-sm
  margin: 20px 0 10px
.pages-title-sm
  font-weight: bold
  font-size: $size