// 类似传统后台，灰色背景
rootHeadCfg = {
  // $bgimage: '/images/saui-logo.png'
  $bgimage: false
  $HeaderHeight: 60px   
  $logoWidth: 180px      //logo大小
  $HeaderBg: #fff
  $HeadColor: $color-text
  $HeadSize: 12px
  //缩小版
  $logoWidth-2: 80px
  $lh: 50px
}

admin = {
  $scrollBox: false
  $routerBg: false
  $box-line: false
  $br: $br-lg
  $mBg: #fff,
  $space: 30px
  $boxSpace: 0
  $mWidth: false
  $min-width: 80px        //缩小版
  $min-titleShow: true
}

adminMenus = {
  $iconName: false
  $size: 14px,
  $space-b: 11px 0,
  $br: $br-lg,
  $bs: $box-shadow,
  $mBg: #fff,
  $mColor:$color-text,
  $mWidth: false,
  $mActiveBg: $color-aux-warning,
  $mActiveItemBg: false, //fade-out($color-primary, .9)
  $mActiveColor: $color-primary,
  $mUlBg: #fff,
  $lh: 32px,
  $lh-title: 20px,
  $type: 'activeline',
  $typeClass: '.caption',
  $isShowIcon: column,          //是否显示标题带icon
  $isShowIconRight: false,
  $isAllShow: false,          //是否全部展示 
  $isClick: false
  $typeleft: true,
  $size-title: false,
  $space: 11px 0,
  $spaceItem: 25px,
  $mLine: false,
  $spaceCaption: false,

  $min-width: 80px,
  $lh-2: 50px
}