// 类似传统后台，灰色背景
rootHeadCfg = {
  // $bgimage: '/images/saui-logo.png'
  $bgimage: false
  $HeaderHeight: 60px
  $HeaderBg: #333
  $HeadColor: #fff
  $HeadSize: 12px
  $mWidth: 180px
  //缩小版
  $min-width: 70px
  $lh: 50px
}

admin = {
  $scrollBox: true
  $routerBg: $color-bg
  $box-line: false
  $br: $br-lg
  $mBg: #fff,
  $space: 30px
  $boxSpace: 30px
  $mWidth: false
  $min-width: 80px        //缩小版
  $min-titleShow: true
}

adminMenus = {
  $iconName: '\e605'
  $menusType: 1,
  $logoColor: $color-text-title,
  $mBg: #333,
  $mColor:#999,
  $mWidth: 180px,
  $mActiveBg: #262626,
  $mActiveItemBg: false, //fade-out($color-primary, .9)
  $mActiveColor: #fff,
  $mUlBg: #3C3C3C,
  $lh: 40px,
  $lh-title: 40px,
  $type: 'activeline',
  $typeClass: '.caption',
  $isShowIcon: row,
  $isShowIconRight: true,
  $isAllShow: false,
  $isClick: true
  $typeleft: true,
  $size-title: false,
  $space: 0 20px,
  $spaceItem: 45px,
  $mLine: false,
  $spaceCaption: false,

  $min-width: 70px,
  $lh-2: 50px
}