// 类似ele，白色主题
rootHeadCfg = {
  // $bgimage: '/images/saui-logo.png'
  $bgimage: false
  $HeaderHeight: 100%
  $HeaderBg: #fff
  $HeadColor: #333
  $HeadSize: 12px
  $mWidth: 260px
  $logoWidth: 18%      //logo大小
  //缩小版
  $min-width: 70px
  $lh: 50px
}

admin = {
  $scrollBox: true
  $routerBg: #fff
  $box-line: 1px solid $color-line
  $br: 0
  $mBg: #fff
  $mColor: #666
  $space: 0
  $boxSpace: var(--space, $space)
  $mWidth: false
  $min-width: 80px        //缩小版
  $min-titleShow: true
}

adminMenus = {
  $iconName: '\e605'
  $menusType: 1
  $logoColor: $color-text-title
  $mBg: #fff
  $mColor: #666
  $bs: none
  $width: 18%
  $mWidth: 430px
  $mActiveBg: $color-primary
  $mActiveItemBg: fade-out($color-primary, .9) //#e6f7ff //
  $mActiveColor: $color-primary
  $mUlBg: #fff
  $lh: 40px
  $lh-title: 34px
  $type: 'activeline'
  $typeClass: '.li-item'
  $isShowIcon: false
  $isShowIconRight: true
  $isAllShow: true
  $typeleft: left
  $isClick: true
  $size-title: 12px
  $space: 0 2em
  $spaceItem: 2em
  $mLine: 1px solid $color-line
  $spaceCaption: 16px 0 
  $cursor: false
  $color: $color-text-title

  $min-width: 70px
  $lh-2: 50px
}