// 类似ele，白色主题
rootHeadCfg = {
  // $bgimage: '/images/saui-logo.png'
  $bgimage: false
  $HeaderHeight: 60px
  $HeaderBg: #fff
  $HeadColor: #333
  $HeadSize: 12px
  $mWidth: 260px
  //缩小版
  $min-width: 70px
  $lh: 50px
}

admin = {
  $scrollBox: true
  $routerBg: #fff
  $box-line: 1px solid $color-line
  $br: 0
  $mBg: #fff
  $space: 0
  $boxSpace: 30px
  $mWidth: false
  $min-width: 80px        //缩小版
  $min-titleShow: true
}

adminMenus = {
  $iconName: '\e605'
  $menusType: 1
  $logoColor: $color-text-title
  $mBg: #fff
  $bs: none,
  $mColor: #666
  $mWidth: 260px
  $mActiveBg: $color-primary
  $mActiveItemBg: #e6f7ff //fade-out($color-primary, .9)
  $mActiveColor: $color-primary
  $mUlBg: #fff
  $lh: 40px
  $lh-title: 34px
  $type: 'activeline'
  $typeClass: '.li-item'
  $isShowIcon: false
  $isShowIconRight: true
  $isAllShow: true
  $typeleft: false
  $isClick: true
  $size-title: 13px
  $space: 0 40px 15px
  $spaceItem: 40px
  $mLine: 1px solid $color-line
  $spaceCaption: 16px 0 

  $min-width: 70px
  $lh-2: 50px
}